server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

clients:
  - url: http://{{ hostvars[groups['monitoring'][0]]['ansible_host'] }}:3100/loki/api/v1/push

scrape_configs:
  - job_name: "geth-logs"
    static_configs:
      - targets:
          - localhost
        labels:
          job: "geth-logs"
          container: "geth"
          __path__: /var/lib/docker/containers/*/*.log